.relatedproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproduct h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproduct hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproduct-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}



@media(max-width:1281px){
    .relatedproduct{
        height: 70vh;
    }
    
    .relatedproduct h1{
        font-size: 40px;

    }
    .relatedproduct hr{
        width: 160px;
        height: 4px;

    }

    .relatedproduct-item{
        gap: 40px;
        margin-top: 30px;
    }
}
    
@media(max-width:1025px){
    .relatedproduct{
        height: 60vh;
    }
    
    .relatedproduct h1{
        font-size: 30px;

    }
    .relatedproduct hr{
        width: 120px;
        height: 3 px;

    }

    .relatedproduct-item{
        gap: 15px;
        margin-top: 32px;
    }
}

@media(max-width:800px){
    .relatedproduct{
        height: 50vh;
        gap: 6px;
    }
    
    .relatedproduct h1{
        font-size: 20px;

    }
    .relatedproduct hr{
        width: 100px;

    }

    .relatedproduct-item{
        gap: 5px;
    }
}

@media(max-width:500px){
    .relatedproduct{
        height: 100vh;
    }
    
    

    .relatedproduct-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}